    #java specific
    *.class

    #netbeans ignore personal stuff
    nbproject/
    3rd-party/
    canvas/
    cv_metro/
    docs/
    labs/
    logs/
    mailmonitor/
    notificaciones/
    src/
    var/
    actualizacion/
    admin_visit/
    admindb/
    ahorro/
    ahorroadmin/
    ame/
    ameadmin/
    auth/
    bye/
    cedulacion/
    clasif/
    clasificados/
    clasificadosadmin/
    comunicaciones/
    comunicaciones_reno/
    comunicacionesv2/
    constancias/
    cvadmin/
    dashboard/
    desdeelanden/
    directorio/
    documentos/
    generadormd5/
    juan/
    listines/
    metroinforma/
    modulo_ejemplo/
    notificacionesadmin/
    perfil/
    permisos/
    planvacacionalfront/
    planvacacionaladmin/
    prestaciones/
    recepcion/
    recursos/
    reintegros/
    serviciosfamiliares/
    visitas/
    visitasadmin/
    webmail/
    inventario/

    ## generic files to ignore
    *~
    *.lock
    *.DS_Store
    *.swp
    *.out
    variables_config.php
    conexiones_config.php
    initrd.img
    module_security.class.php
    prestaciones.tar.gz
    visitas.zip
    .htaccess
    1dashboard.php
    CHULETA.php
    bypass.php
    bypass_cedula.php
    bypass_dev.php
    dashboard_dev.php
    encabezado.jpg
    encamail.jpg
    error_log
    index.php
    index_dev.php
    noie.php
    notificador.php
    notificar.php
    notihistorial.php
    funciones.js

    # Package Files #
    *.jar
    *.war
    *.ear
