    #java specific
    *.class

    #netbeans ignore personal stuff
    nbproject/
    3rd-party/
    canvas/
    cv_metro/
    docs/
    labs/
    logs/
    mailmonitor/
    notificaciones/
    src/
    var/

    ## generic files to ignore
    *~
    *.lock
    *.DS_Store
    *.swp
    *.out
    variables_config.php
    conexiones_config.php

    # Package Files #
    *.jar
    *.war
    *.ear
